{% extends "base.html" %}
{% load static %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'clientes/css/clientes.css' %}" />
<link rel="stylesheet" href="{% static 'servicos/css/listar_servico.css' %}" />
{% endblock %} 

{% block 'dashboard' %}
    <br/>
    <br>
    <div  class='container'>
        <br/>
        <br/>
        <p class="badge badge-warning">Página em construção</p>
        <h1>Bem vindo(a)!</h1>
        <a class='btn btn-info' href={% url "clientes" %}>Clientes</a>
        <a class='btn btn-info' href={% url "novo_servico" %}>Serviços</a>
    </div>
{% endblock %}




